* {
    background-color: #FFE0C5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name2 {
    display: block;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.projects-style {
    text-align: center;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}