* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ADD8E6;
}

.content {
    max-width: 100%;
    margin-top: 12%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.title {
    font-size: 1.5rem;
}

.title2 {
    font-size: 1rem;
} 

@media only screen and (max-width: 768px) {
    .title {
        font-size: 1.5rem;
        padding: 5%;
    }
}

.button {
    transition-duration: 0.4s;
}

#explicacion em {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    #explicacion {
        margin-top: -8%;
        font-family: Verdana;
        font-size: 15px;
    }
}

.play_button, .prueba_button, .reto_button {
    padding: 8.5%;
    width: 50%;
    font-size: 1rem;
    transition-duration: 0.2s;
    margin: 7.5%;
    background-color:white;
    color: black;
    border: solid black;
    border-radius: 12px;
    cursor: pointer;
}

#player_button {
    padding: 2.5%;
    width: 50%;
    font-size: 1rem;
    transition-duration: 0.2s;
    margin: 7.5%;
    background-color:white;
    color: black;
    border: solid black;
    border-radius: 12px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .play_button {
        padding: 5.5%;
        width: 50%;
        font-size: 1rem;
        transition-duration: 0.2s;
        margin: 7.5%;
        background-color:white;
        color: black;
        border: solid black;
        border-radius: 12px;
        cursor: pointer;
    }
}

input[type=text] {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.submit_button{
    padding: 2.5%;
    width: 40%;
    font-size: 1rem;
    transition-duration: 0.2s;
    margin: 7.5%;
    background-color:white;
    color: black;
    border: thick black;
    cursor: pointer;
}

#players {
    display: block; 
    overflow-wrap: break-word; 
    max-width: 100%;
}

.players_div {
    border: solid #000000;
    padding-top: 5%;
    padding-bottom: 5%;
}

.player_text {
    padding-top: 10%;
    margin-top: -10%;
    font-size: 1.15rem;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .player_text {
        padding-top: 5%;
        font-size: 1.15rem;
        font-weight: bold;
    }
}

.play_button:hover, .prueba_button:hover, .reto_button:hover {
    background-color:black;
    color: white;
    border: solid white;
}

.github_link {
    font-size: 0.9rem;
}

.yn_title_text {
    font-size: 1.25rem;
    font-weight: bold;
}

.yn_text {
    font-size: 1rem;
}