* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ADD8E6;
}

.content {
    max-width: 500px;
    margin-top: 12%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.title {
    font-size: 1.5rem;
}

.button {
    transition-duration: 0.4s;
}

.play_button, .prueba_button, .reto_button {
    padding: 8.5%;
    width: 50%;
    font-size: 1rem;
    transition-duration: 0.2s;
    margin: 7.5%;
    background-color:white;
    color: black;
    border: solid black;
    border-radius: 12px;
    cursor: pointer;
}

input[type=text] {
    border: 2px solid black;
    border-radius: 12px;
    background-color: white;
    color: black;
}

.submit_button{
    padding: 1.5%;
    width: 40%;
    font-size: 0.9rem;
    transition-duration: 0.2s;
    margin: 7.5%;
    background-color:white;
    color: black;
    border: solid black;
    border-radius: 12px;
    cursor: pointer;
}

.player_text {
    margin-top: -10%;
}

.play_button:hover, .prueba_button:hover, .reto_button:hover {
    background-color:black;
    color: white;
    border: solid white;
}

.github_link {
    font-size: 0.9rem;
}

.yn_title_text {
    font-size: 1.25rem;
    font-weight: bold;
}

.yn_text {
    font-size: 1rem;
}